@model WebApplication7.Models.Place

@{
    ViewData["Title"] = "GetPlace";
}
<div class="ad-container">
    <div class="text-container">
        <h1>@Model.Place_Name</h1>
        <h3>@Model.Place_City</h3>
        <p>@Model.Description</p>
        <p>@Model.Place_Rating</p>
        <p> @Model.Place_Price EGP</p>
        <a href="/Booking/Create/@Model.Place_Id" class="cta-button">Book Now</a>
    </div>
    <div class="image-container">
        
            @if (Model.imageSrc == null || Model.imageSrc == "")
            {
                <img src="\Images\no-image-found.jpg" alt="NOImage" />
            }
            else
            {
                <img src="@Model.imageSrc" alt="NOImage" />
            }
        
    </div>
    
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
<style>


.ad-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
}

.text-container {
    max-width: 60%;
}

.text-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.text-container p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #0073e6;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.cta-button:hover {
    background-color: #005bb5;
}

.image-container img {
    max-width:350px;
    border-radius: 10px;
}
</style>