@model WebApplication7.Models.Place

@{
    ViewData["Title"] = "GetPlace";
}

<h1>GetPlace</h1>

<div>
    <h4>Place</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place_City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place_City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place_Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place_Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place_Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place_Photo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Place_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
