@{
    Layout = null;
}
@model WebApplication7.ViewModels.PlaceViewModel
<link href="/css/Index.css" rel="stylesheet" />
<section class="hotel-listings ">

    @foreach (var item in Model.RelatedPlaces)
    {

        <!-- Card 1 -->
        <div class="hotel-card-wrapper">
            <!-- Transparent button for the heart icon, hidden initially -->
            <div class="heart-icon">
                <button type="button" class="heart-btn" onclick="favoritePlace(@item.Place_Id);">
                    <img src="/Images/heart.png" alt="Heart Icon" />
                </button>
            </div>

            <!-- The large clickable card -->
            <a href="Home/GetPlace/@item.Place_Id">
                <form asp-action="GetPlace" asp-controller="Home" asp-route-id="@item.Place_Id" method="get">
                    <div class="hotel-card">
                        @if (item.imageSrc == null || item.imageSrc == "")
                        {
                            <img src="\Images\no-image-found.jpg" alt="NOImage" />
                        }
                        else
                        {
                            <img src="@item.imageSrc" alt="Place Image" />
                        }
                        <div class="hotel-info">
                            <h3>@item.Place_Name</h3>
                            <p class="rating">Rating : @item.Place_Rating</p>
                            <p><span class="new-price">Price: @item.Place_Price EGP</span></p>
                        </div>
                    </div>
                </form>
            </a>
        </div>
    }
     
        <script>
            function favoritePlace(placeId) {
                window.location.href = '/Home/FavoritePlace/' + placeId;
                }
        </script>
     
</section>