@model WebApplication7.ViewModels.BookingViewModel

<div class="container2">
    <h2 class="text-center mb-4">Book Your Stay at @Model.PlaceName</h2>

    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            @if (string.IsNullOrEmpty(Model.imageSrc))
            {
                <img src="~/Images/no-image-found.jpg" alt="No Image Found" class="img-fluid rounded" />
            }
            else
            {
                <img src="@Model.imageSrc" alt="@Model.PlaceName" class="img-fluid rounded" />
            }
            <p class="text-center mt-3">@Model.Description</p>
        </div>
    </div>


    <form asp-action="Payment" asp-route-id="@Model.PlaceID" asp-route-numberOfGuests="@Model.NumberOfGuests" asp-route-PromotionCode="@Model.PromotionCode" method="get" class="mt-4">
        @if (Model.PlaceType == "Hotel")
        {
            <div class="form-group">
                <label asp-for="CheckInDate" class="control-label"></label>
                <input asp-for="CheckInDate" type="date" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="CheckOutDate" class="control-label"></label>
                <input asp-for="CheckOutDate" type="date" class="form-control" required />
            </div>
        }

        <div class="form-group">
            <label asp-for="NumberOfGuests" class="control-label"></label>
            <input asp-for="NumberOfGuests" type="number" class="form-control" min="1" required />
        </div>

        <div class="form-group">
            <label asp-for="PromotionCode" class="control-label"></label>
            <input asp-for="PromotionCode" class="form-control" />
            <span asp-validation-for="PromotionCode" class="text-danger"></span>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg" formtarget="_self">Book Now</button>
        </div>
    </form>
</div>

<style>
    /* Custom styles for the booking page */
  

    h2 {
        font-family: 'Arial', sans-serif;
        color: #343a40;
    }

    .container2 {
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 30px;
    }

    .btn-primary {
        background-color: #d5c188;
        border-color: #d5c188;
    }

    .btn-primary:hover {
            background-color: #a59056;
            border-color: #a59056;
    }
</style>
